@keyframes slideUpFadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: slideUpFadeIn 0.5s forwards;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease,
		width 0.3s ease;
}
